/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.my-button {
  @apply bg-slate-500 rounded-xl px-2 py-1 text-white hover:bg-slate-300 transition-all duration-300 disabled:opacity-35
}

input {
  @apply bg-slate-300 rounded-xl p-2 disabled:opacity-35
}


h1 {
  @apply text-2xl font-bold
}
